.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    gap: 10px;
    background-color: transparent;
}

#pagination {
    border: none;
    outline: none;
}


.pagination button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.pagination button:hover {
    background: #0056b3;
}

.pagination button.active {
    background: red;
    outline: none;

}

.pagination button:focus {
    outline: none;
    box-shadow: none;
}