.iframe-container {
    width: 45%;
    height: 600px;
    margin: 20px auto 0px auto;

}

.iframe-container iframe {
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 8px gray;
}

.one-service-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    gap: 20px;
}

.pdf-link {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    background: var(--gray);
    color: rgb(187, 3, 3);
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid rgb(187, 3, 3);
    box-shadow: 0px 4px 6px var(--shadow);
    transition: transform 0.5s ease-in-out;
    direction: ltr;
}

.temp3-one-service {
    width: 100%;
    padding-top: 40px;
    /* margin-top: 40px; */
    background-color: var(--svgColor);
}

.temp3-one-service-container {
    width: 85%;
    margin: 0px auto;
    text-align: center;
    background-color: transparent;
    background-color: var(--svgColor);

    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 20px;
}

.temp3-one-service-title {
    padding: 4px 14px;
    font-size: 1.17em;
    font-weight: 700;

    color: var(--secondaryColor);
    background-color: var(--lightSecondaryColor);
    border-radius: 10px;

    width: fit-content;
    margin: 0px auto;
}

.temp3-one-service-sub-title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    width: fit-content;
    margin: 0px auto;
    color: var(--primaryColor);
}

.temp3-one-service-lines {
    width: 10%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* ----------------------------------- */
hr {
    height: 4px;
    border: none;
    background-color: var(--secondaryColor);
}

.temp3-one-service-long-line {
    width: 80%;
}

/* ------------------------------------- */

.temp3-one-service-short-line {
    width: 15%;
}

.temp3-one-service-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
    /* padding: 20px; */
    width: 100%;
    margin: auto;
}

.temp3-one-service-image {
    width: 30%
}

.temp3-one-service-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;

}

.temp3-one-service-content {
    /* width: 65%; */
    text-align: right;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.temp3-one-service-content h3 {
    color: var(--secondaryColor);
    margin: 0%;
}

.temp3-one-service-quote {
    width: 20%;
    margin: auto;
    max-height: 80px;
}

.temp3-one-service-quote img {
    width: 100%;
    max-height: 80px;
    aspect-ratio: 1/1;
}

/* =============================================== */
.one-service-svg-logo {
    align-content: center;
    position: relative;
    width: fit-content;
    margin: auto;
}

.one-service-svg-logo svg {
    fill: var(--lightSecondaryColor);
    max-height: 10000px;
}

.one-service-svg-logo img {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 20%;
    aspect-ratio: 1/1;
}

.temp3-one-service-para {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--lightPrimaryColor);
    margin: 0px;
    text-align: right;
}

.temp3-one-service-company {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primaryColor);
    margin-bottom: 15px;
}

/* Call Button */
.temp3-one-service-call-btn {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
    margin: auto;
    padding: 10px;
    background: var(--gray);
    color: var(--whatsappColor);
    font-weight: 400;
    font-size: medium;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid var(--whatsappColor);
    box-shadow: 0px 4px 6px var(--shadow);
    transition: transform 0.5s ease-in-out;
    direction: ltr;
}

.temp3-one-service-call-btn:hover {
    transform: scaleX(1.02);
}

.svg-container-in-one-service {
    max-width: 100%;
    margin: 0px auto;
    max-height: 100px;
}

.svg-container-in-one-service svg {
    max-height: 100px;
    width: 100%;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width:768px) {
    .temp3-one-service-container {
        width: 98%;
        margin: 0px auto;
    }

    .temp3-one-service-sub-title {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .temp3-one-service-image {
        width: 100%
    }

    .temp3-one-service-image img {
        width: 90%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 10px;
    }

    .temp3-one-service-card {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .temp3-one-service-para {
        font-size: 1rem;
        line-height: 1.8rem;
        color: var(--lightPrimaryColor);
        /* margin-bottom: 20px; */
        text-align: right;
    }

    .iframe-container {
        width: 95%;
        height: 800px;
        margin: 20px auto 0px auto;


    }

    .one-service-links {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:769px) and (max-width: 1440px) {
    .temp3-one-service-container {
        width: 98%;
        margin: 0px auto;
    }

    .one-service-links {
        flex-direction: column;
        gap: 20px;
    }
}