
.section {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.hero {
    background: var(--lightPrimaryColor);
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 2rem;
}

canvas.particles {
    position: absolute;
    inset: 0;
    width: 30%;
    height: 100%;
    z-index: 1;
}


