@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Tajawal:wght@400;700&display=swap');



.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-section {
    position: relative;
    padding-bottom: 20px;
    background-color: #400b5015;
}

.projects-section::after {
    content: "";
    background-image: url("../../IMG/logo.png");
    background-size: 200px;
    opacity: .09;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.projects-section svg {
    position: absolute;
    right: 0;
    left: 0;
    height: 20px;
    width: 100%;
}

.projects-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.projects-section-header {
    text-align: center;
    margin-bottom: 40px;
}

.projects-section-title {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--secondaryColor);
    position: relative;
}

.projects-section-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 25px;
    bottom: -10%;
    left: 0;
    background-image: linear-gradient(90deg, var(--lightSecondaryColor) 0%, var(--primaryColor) 100%);

}

.projects-section-title::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 5px;
    border-radius: 25px;
    bottom: -25%;
    right: 0;
    background-image: linear-gradient(90deg, var(--lightSecondaryColor) 0%, var(--primaryColor) 100%);

}

/* Category buttons */
.filters {
    margin-bottom: 25px;
}

.filters button {
    background: var(--primaryColor);
    border: none;
    color: #fff;
    padding: 8px 18px;
    margin: 5px;
    border-radius: 2px 20px 2px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.8s;
}

.filters button:hover {
    border-radius: 20px 2px 20px 2px;
}

.filters button.active-filter {
    border-radius: 20px 2px 20px 2px;
    background: var(--secondaryColor);
}

/* Hide projects smoothly */
.hidden {
    display: none;
}

.projects-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: transform .3s ease, box-shadow .3s ease;
    padding-bottom: 90px;
    
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 200px auto;
    max-width: 450px;
    margin: 0 auto 30px;
}

.screenShape {

    padding-bottom: 30px;
    background-image: linear-gradient(90deg, var(--lightSecondaryColor) 0%, var(--primaryColor) 100%);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    position: relative;
}

.screenShape:before {
    content: "";
    width: 80px;
    height: 7px;
    background-color: var(--white);
    border-radius: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    /* z-index: 1; */
}

.screenShape:after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--lightSecondaryColor);
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-39px) translateY(50%);
    /* z-index: 1; */
}

.project-card.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.project-img {
    height: 250px;
    overflow-x: auto;
    transition: all 0.3s;
}

.project-img:hover .projectIcons {
    display: flex
}

.project-img::-webkit-scrollbar {
    width: 5px
}

.project-img::-webkit-scrollbar-track {
    background-color: var(--primaryColor)
}

.project-img::-webkit-scrollbar-thumb {
    background-color: var(--lightSecondaryColor);
    background-image: linear-gradient(0deg, var(--lightSecondaryColor) 0%, var(--secondaryColor) 100%);
    border-radius: 5px
}

.project-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.projectIcons {
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    justify-content: center;
    align-items: center;
    display: none
}

.projectIcons .projectIconslink {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #505C7D;
    color: #D6D7E8;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 5px;
    opacity: .95;
    border: none
}

.projectIcons .projectIconslink:hover {
    background-color: var(--lightSecondaryColor);
    color: var(--white);
    opacity: 1
}

.project-desc {
    font-size: 14px;
    color: var(--muted);
    line-height: 1.6;
}

/* Call-to-action button */
.cta {
    /* justify-self: center; */
    margin: 0% auto;
    width: fit-content;
}

.cta a {
    background-image: linear-gradient(90deg, var(--secondaryColor) 0%, var(--primaryColor) 100%);
    border: none;
    position: relative;
    z-index: 22;
    color: #fff;
    padding: 8px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px 2px 20px 2px;
    text-decoration: none;
}

.cta a:hover {
    border-radius: 2px 20px 2px 20px;
}

@media (max-width: 576px) {

    .filters button {
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.8s;
    }
}